}
.rsvp-button{
	font-family: : "Pacifico";
	padding: 5px 15px;
	width: auto;
	height: auto;
	color: white;
	background-color: pink;
	float: right;
	cursor: pointer;
}

.rsvp-button:hover{
	color: gray;
	background color: white;
}

.gallery-container{
	margin-top: 52px; 
}
